Temp
Library
/Bavaria One/.vs/Bavaria One/v15/Server/sqlite3/*.lock
/Bavaria One/.vs/Bavaria One/v15/Server/sqlite3/*.ide
/Bavaria One/.vs/Bavaria One/v15/Server/sqlite3/*.ide-shm
/Bavaria One/.vs/Bavaria One/v15/Server/sqlite3/*.ide-wal
/Bavaria One/.vscode
/Bavaria One/.vs
*.sln
*.csproj
/Bavaria One/obj/Debug

